CVS/
*.ncb
*.opt
*.plg
Debug
Makefile
Release
WinDebug
WinRel
autom4te*.cache
config.h
config.log
config.status
cvs-*.tar.bz2*
cvs-*.tar.gz*
cvs.spec
cvsinit
cvsnt.mdp
cvsnt.001
stamp-h1

/build-aux/
/INSTALL
/aclocal.m4
/config.h.in
/configure
/config.h.in~
Makefile.in
*.o
*.a

/.cabal-sandbox/
/cabal.sandbox.config
/.pc/
*.rs
!lib.rs
errors-*
