*.bb
*.bbg
*.da
*.plg
.deps
.pure
Makefile
WinDebug
WinRel
arpa
alloca.h
fcntl.h
fnmatch.h
glob.h
getopt.h
inttypes.h
signal.h
stdbool.h
stdint.h
stdio.h
stdlib.h
string.h
strings.h
sys
time.h
unistd.h
getdate
getdate.log
charset.alias
configmake.h
ref-add.sed
ref-del.sed
